---
title: 'Didteam'
layout: didteam.sidebar.ejs
---
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cesium@1.118.2/Build/Cesium/Widgets/widgets.css" integrity="sha256-PHR+x1QmmXdc0J5qTHOkzhfvwtFcno4VTHb5gvtqHGs=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/cesium@1.118.2/Build/Cesium/Cesium.js" integrity="sha256-4Ud9pAoN5U5zqaA50QYJscYRyJuI0TOWSKubeAFrT/o=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gps@0.6.1/gps.min.js" integrity="sha256-aP5ZLTc1l1e/GuhJwYW63UokuP2gHI7L9UB+utU8aA4=" crossorigin="anonymous"></script>
    <div class="container text-center mt-3">
      <div class="row justify-content-center">
        <div class="col-8" id="vue-ui-app-rtk-space">
          <div class="input-group mb-1">
            <span class="input-group-text w-50">RTK Base Statation Team Auth Keys</span>
            <span class="input-group-text w-50">
              <select class="form-select" v-model="didSelected" @change="changeDidSelected()">
                <option v-for="account in accountList" :selected="account.selected">{{account.did}}</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <hr/>
      <div class="col-8">
        <div id="view_map" class="w-auto" style="height:600px;"></div>
      </div>
    </div>
    <script src="./rtk-gnss-base.js" type="module"></script>

    <%- include(`../_sidebar.ejs`) %>
