<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.5, maximum-scale=0.5,minimum-scale=0.5">
    <title>otmc</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:100,600">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/all.min.css" integrity="sha256-/4UQcSmErDzPCMAiuOiWPVVsNN2s3ZY/NsmXNcj0IFc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@dzangolab/flag-icon-css@3.4.5/css/flag-icon.min.css" integrity="sha256-IRIR3+BLtMymR0ev1oPdR2xRyepuawjkZ2dULRiPlJs=" crossorigin="anonymous">    


    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@2.5.5/dist/index.css" integrity="sha256-qdukVi/hmE+zjv9RwTaYlTUOtmMP8j8xC1hs/jDUYzw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@2.5.5/theme-chalk/dark/css-vars.css" integrity="sha256-iAIEpzFPxiQctXYmMxoAWUX2Gk5gKDKOGB+sdNi8Ldw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@2.5.5/theme-chalk/display.css" integrity="sha256-EEUbAerV4obuTdf7oqGK6uKg7MMQNfqe7tYTCGW9UUo=" crossorigin="anonymous">


  </script>
  </head>
  <body>   
    <script src="https://cdn.jsdelivr.net/npm/tweetnacl@1.0.3/nacl-fast.min.js" integrity="sha256-PsU1wASu6yJXhdjpP7M7+Z9S45m9ffwBlptWKbrqUTE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tweetnacl-util@0.15.1/nacl-util.min.js" integrity="sha256-l9yVE3YPWsTD48cjI2ABjQo466SAR0oLKj1VzQOlZ1U=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/base32.js@0.1.0/dist/base32.min.js" integrity="sha256-ldOeMFJRCfPOxZR9dDqaMn2MZwP94Ut+maKjKQsbK4s=" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.8.2/dist/es-module-shims.js" integrity="sha256-4usHv2gjoiKonwAmSfmTL5RaDjES3psSp0Vo1VeCINA=" crossorigin="anonymous"></script>
    <script type="importmap">
      {
        "imports": {
          "otmc": "/otmc/assets/js/otmc.js",
          "nacl": "https://cdn.jsdelivr.net/npm/tweetnacl-es6@1.0.3/nacl-fast-es.min.js",
          "mqtt": "https://cdn.jsdelivr.net/npm/mqtt@5.3.5/+esm",
          "eventemitter3": "https://cdn.jsdelivr.net/npm/eventemitter3@5.0.1/dist/eventemitter3.esm.min.js",
          "xstate": "https://cdn.jsdelivr.net/npm/xstate@5.4.1/+esm",
          "three": "https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.module.min.js",
          "elementPlus": "https://cdn.jsdelivr.net/npm/element-plus@2.5.5/dist/index.full.min.mjs",
          "elementPlusZh": "https://cdn.jsdelivr.net/npm/element-plus@2.5.5/dist/locale/zh-cn.min.mjs",
          "vue": "https://cdn.jsdelivr.net/npm/vue@3.4.5/dist/vue.esm-browser.prod.js"
        }
      }
    </script>   
    <script type="text/javascript" src="/otmc/assets/js/const.js"></script>
    <script type="text/javascript" src="/otmc/assets/js/ga.js"></script>
        <header id="vue-ui-navbar">

      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        :ellipsis="false"
        @select="handleSelect"
      >
        <el-menu-item index="0">
          <el-link type="primary" href="/otmc/">
            <i class="material-icons md-48">home</i>
          </el-link>
        </el-menu-item>
        <div class="flex-grow" />
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-sub-menu index="2">
          <template #title>Workspace</template>
          <el-menu-item index="2-1">item one</el-menu-item>
          <el-menu-item index="2-2">item two</el-menu-item>
          <el-menu-item index="2-3">item three</el-menu-item>
          <el-sub-menu index="2-4">
            <template #title>item four</template>
            <el-menu-item index="2-4-1">item one</el-menu-item>
            <el-menu-item index="2-4-2">item two</el-menu-item>
            <el-menu-item index="2-4-3">item three</el-menu-item>
          </el-sub-menu>
        </el-sub-menu>
      </el-menu>
  
<!--  
      <div class="h-6" />
      <el-menu
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        @select="handleSelect"
      >
        <el-menu-item index="1">
        </el-menu-item>
        <div class="flex-grow" />
        <el-sub-menu index="2">
          <template #title>Workspace</template>
          <el-menu-item index="2-1">item one</el-menu-item>
          <el-menu-item index="2-2">item two</el-menu-item>
          <el-menu-item index="2-3">item three</el-menu-item>
          <el-sub-menu index="2-4">
            <template #title>item four</template>
            <el-menu-item index="2-4-1">item one</el-menu-item>
            <el-menu-item index="2-4-2">item two</el-menu-item>
            <el-menu-item index="2-4-3">item three</el-menu-item>
          </el-sub-menu>
        </el-sub-menu>
        <el-menu-item index="3" disabled>Info</el-menu-item>
        <el-menu-item index="4">Orders</el-menu-item>
      </el-menu>
-->  
      
      
      <!--
      <nav class="container" aria-label="Main navigation">
        <a class="navbar-brand text-primary btn-lg" href="/otmc/" role="button">
          <i class="material-icons md-48">home</i>
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-start">
          <ul class="navbar-nav">
            <li class="nav-item active border rounded-pill">
              <a class="nav-link text-primary vue-lang" href="/otmc/mansion/create/" role="button">
                <i class="material-icons md-48">add</i> {% navbar.mansion %}
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item active border rounded-pill" v-for="(app,index) in apps">
              <a class="nav-link text-primary vue-lang" v-bind:href="app.href" role="button">
                <i class="material-icons md-48" v-if="app.icon1">{{app.icon1}}</i>
                <i class="material-icons md-48" v-if="app.icon2">{{app.icon2}}</i>
                <i class="material-icons md-48" v-if="app.icon3">{{app.icon3}}</i>
              </a>
            </li>    
          </ul>
        </div>
        
        <div class="collapse navbar-collapse d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item dropdown ml-5">
              
              <button class="nav-link dropdown-toggle btn-lg" role="button" href="#" data-bs-toggle="dropdown" 
                data-bs-target="#navbarLanguageDropdown" aria-expanded="true">
                <i class="material-icons md-48">language</i>
              </button>
              <ul class="dropdown-menu z-index-n2" id="navbarLanguageDropdown">
                <li class="nav-item">
                  <a class="dropdown-item" @click="onClickChangeLang('cn')"><span class="flag-icon flag-icon-background flag-icon-cn"></span>中文</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <a class="dropdown-item" @click="onClickChangeLang('ja')"><span class="flag-icon flag-icon-background flag-icon-jp"></span>日本語</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <a class="dropdown-item" @click="onClickChangeLang('en')"><span class="flag-icon flag-icon-background flag-icon-us"></span>English</a>
                </li>
              </ul>

            </li>
            <li class="nav-item dropdown ml-5">
              <a class="nav-link text-success btn-lg" role="button"  href="/otmc/didteam/">
                <i class="material-icons md-48" >manage_accounts</i>
                {{ accout.name }}
              </a>
            </li>
          </ul>
        </div>
        

        
      </nav>
    -->


      <style>
      .flex-grow {
        flex-grow: 1;
      }
      </style>
    </header>
    


    <script type="module" src="/otmc/layout/navbar.js"></script>
    <script type="module" src="/otmc/assets/js/lang.js"></script>
  </body>
</html>
