<div class="container text-center mt-3">
  <div class="row justify-content-start">
    <div class="col-10" id="vue-ui-app-edcrypt-key">
      <div class="input-group mb-1">
        <span class="input-group-text w-25">Team Auth Keys</span>
        <span class="input-group-text w-50">
          <select class="form-select" v-model="didKeySelected" @change="changeDidKeySelected()">
            <option v-for="didKey in didKeyList" :selected="didKeySelected === didKey.auth.idOfKey">{{didKey.auth.idOfKey}}</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>