<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.5, maximum-scale=0.5,minimum-scale=0.5">
    <title>otmc<%- `${title}` %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/css/material-icons.min.css" integrity="sha256-KNrVfo3JedF61w34Vm5xE5nVjcLCo1XXyPKlD8UYVQo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha256-PI8n5gCcz9cQqQXm3PEtDuPG8qx9oFsFctPg0S5zb8g=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css" integrity="sha256-wiz7ZSCn/btzhjKDQBms9Hx4sSeUYsDrTLg7roPstac=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@4.1.7/css/flag-icons.min.css" integrity="sha256-8qup5VqQKcE2cLILwBU2zpXUkT+eW5tI1ZLzJjh/TdY=" crossorigin="anonymous">
  </script>
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "####otmc": "<%- `${prefix}/assets/js/otmc.js` %>",
          "otmc": "https://cdn.jsdelivr.net/npm/otmc-client@1.0.9/otmc.js",
          "tweetnacl-es6": "https://cdn.jsdelivr.net/npm/tweetnacl-es6@1.0.3/nacl-fast-es.min.js",
          "mqtt": "https://cdn.jsdelivr.net/npm/mqtt@5.5.2/+esm",
          "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
          "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js",
          "eventemitter3": "https://cdn.jsdelivr.net/npm/eventemitter3@5.0.1/dist/eventemitter3.esm.min.js",
          "xstate": "https://cdn.jsdelivr.net/npm/xstate@5.10.0/+esm",
          "level": "https://cdn.jsdelivr.net/npm/level@8.0.1/+esm",
          "three": "https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.module.min.js",
          "json-diff": "https://cdn.jsdelivr.net/npm/json-diff@1.0.6/+esm",
          "vue": "https://cdn.jsdelivr.net/npm/vue@3.4.5/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script type="module">
      import * as bootstrap from 'bootstrap';
      console.log('::bootstrap=<',bootstrap,'>');
      const collapseElementList = document.querySelectorAll('.collapse');
      const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl));
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
    <script type="text/javascript" src="<%- `${prefix}/layout/const.js` %>"></script>
    <%- include(`/layout/_navbar.ejs`) %>
