    <div class="container text-center mt-3" id="vue-ui-app-did-manifest">     
      <div class="row justify-content-center">

        <div class="col-4">
          <div class="d-grid gap-5">
            <button class="btn btn-primary" type="button" @click="clickSaveManifest()">Save Manifest</button>
          </div>
        </div>

        <div class="col-4">
          <div class="d-grid gap-5">
            <button class="btn btn-success" type="button" @click="clickCheckManifest()">Check Manifest</button>
          </div>
        </div>

      </div>

      <div class="row justify-content-center mt-2">
        <div class="col-6">
          <div class="card card-default">
            <div class="card-body">
              <div id="app-did-manifest-editor" style="height: 540px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card card-default">
            <div class="card-body">
              <div id="app-did-manifest-result" style="height: 540px;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 

    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.31.2/src-min-noconflict/ace.js" integrity="sha256-ScWQ2xfi8beTMGHcIj8J03x83jnNG/1Fz6OG+UCsHnw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.31.2/src-min-noconflict/theme-monokai.js" integrity="sha256-QYtRGCAF2FEla9w5pwlaEgKvuf3SEAqk+QdbliP7HBU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.31.2/src-min-noconflict/mode-json.js" integrity="sha256-AQ/qtz/XXPze4wzccb3Mho5PkURlpZpxQcXuSYOor+w=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.28.2/dist/editorjs.umd.js" integrity="sha256-jZHY2Vd0A1MWFmdaD2fySEIfAfKBUHiwWhLppacS24M=" crossorigin="anonymous"></script>
    <script src="./manifest.js" type="module"></script>
