    <div class="container text-center mt-3">
      <div class="row justify-content-center" id="vue-ui-app-rtk-input-device">
        <div class="col-4">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" role="button" @click="clickSelectUSBSerialRtkDevice()">
              Select USB cable RTK Module.
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" role="button" @click="clickSelectBluetoothRtkDevice()">
              Select Bluetooth RTK Module.
            </a>
          </p>
        </div>
      </div>
    </div>
    <script src="./rtk-gnss.js" type="module"></script>
