---
title: 'DidTeam'
layout: didteam.sidebar.ejs
---
    <%- include(`../_edcrypt.key.ejs`) %>
    <hr/>
    <div class="container text-center mt-3">
      <div class="row justify-content-start">
        <h1>Request to join the Team</h1>
        <div class="col-12" id="vue-ui-app-join-request">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Address</th>
                <th scope="col">Message</th>
                <th scope="col">Create Time</th>
                <th scope="col">Accept</th>
                <th scope="col">Reject</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(joinReq,storeHash) of joinRequests">
                <td><pre>{{ joinReq.showAddress }}</pre></td>
                <td>{{ joinReq.credentialRequest.claims.message }}</td>
                <td>{{ new Date(joinReq.created) }}</td>
                <td>
                  <button class="btn btn-success" type="button" @click="clickAcceptJoinRequest($event,storeHash)">
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" type="button" @click="clickRejectJoinRequest($event,storeHash)">
                    <i class="fa-solid fa-ban"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="./join.js" type="module"></script>
    <%- include(`../_sidebar.ejs`) %>
