<a class="navbar-brand text-primary " v-bind:href="root + '/'" role="button">
  <i class="material-icons md-48">home</i>
</a>
<div class="collapse navbar-collapse d-flex justify-content-start">
  <ul class="navbar-nav">
    <li class="nav-item active border rounded-pill">
      <!--
      <a class="nav-link text-primary vue-lang" v-bind:href="root + '/mansion/create/'" role="button">
        <i class="material-icons md-48">add</i> {% navbar.mansion %}
      </a>
      -->
    </li>
  </ul>
</div>
<div class="collapse navbar-collapse d-flex justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item active border rounded-pill" v-for="(app,index) in apps">
      <a class="nav-link text-primary vue-lang" v-bind:href="app.href" role="button">
        <i class="material-icons md-48" v-if="app.icon1">{{app.icon1}}</i>
        <i class="material-icons md-48" v-if="app.icon2">{{app.icon2}}</i>
        <i class="material-icons md-48" v-if="app.icon3">{{app.icon3}}</i>
      </a>
    </li>    
  </ul>
</div>
<div class="collapse navbar-collapse d-flex justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item dropdown ml-5">
      <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons md-48">language</i>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a class="dropdown-item" @click="onClickChangeLang('cn')"><span class="flag-icon flag-icon-background flag-icon-cn"></span>中文</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <a class="dropdown-item" @click="onClickChangeLang('ja')"><span class="flag-icon flag-icon-background flag-icon-jp"></span>日本語</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <a class="dropdown-item" @click="onClickChangeLang('en')"><span class="flag-icon flag-icon-background flag-icon-us"></span>English</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown ml-5">
      <a class="nav-link text-success" v-bind:href="root + '/didteam/'">
        <i class="material-icons md-48" >manage_accounts</i>
        {{ accout.name }}
      </a>
    </li>
  </ul>
</div>


