---
title: 'Didteam'
layout: didteam.ejs
---
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cesium@1.118.2/Build/Cesium/Widgets/widgets.css" integrity="sha256-PHR+x1QmmXdc0J5qTHOkzhfvwtFcno4VTHb5gvtqHGs=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/cesium@1.118.2/Build/Cesium/Cesium.js" integrity="sha256-4Ud9pAoN5U5zqaA50QYJscYRyJuI0TOWSKubeAFrT/o=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gps@0.6.1/gps.min.js" integrity="sha256-aP5ZLTc1l1e/GuhJwYW63UokuP2gHI7L9UB+utU8aA4=" crossorigin="anonymous"></script>
    <div class="container text-center mt-3">
      <div class="row justify-content-center" id="vue-ui-app-rtk-input-device">
        <div class="col-4">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" role="button" @click="clickSelectUSBSerialRtkDevice()">
              Select USB cable RTK Module.
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" role="button" @click="clickSelectBluetoothRtkDevice()">
              Select Bluetooth RTK Module.
            </a>
          </p>
        </div>
      </div>
      <hr/>
      <div class="col-8">
        <div id="view_map" class="w-auto" style="height:600px;"></div>
      </div>
    </div>
    <script src="./rtk-gnss.js" type="module"></script>