---
title: 'Didteam'
layout: didteam.sidebar.ejs
---

    <div class="container text-center mt-3">
      <iframe src="./ai_gen_index/" style="width:100%; height:100vh;"></iframe>
    </div>

    <%- include(`./_sidebar.ejs`) %>
